<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Discount badge</title>
        <title lang="de-DE">Rabatt - Badge</title>

        <input-field type="bool">
            <name>discountBadgeInCategory</name>
            <label>show in the category lists</label>
            <label lang="de-DE">in den Kategorielisten anzeigen</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>discountBadgeOnProductPage</name>
            <label>show on the product detail page</label>
            <label lang="de-DE">auf der Produkt-Detailseite anzeigen</label>
            <defaultValue>false</defaultValue>
        </input-field>
    </card>

    <card>
        <title>Top seller badge</title>
        <title lang="de-DE">Tipp - Badge</title>

        <input-field type="bool">
            <name>topSellerBadgeInCategory</name>
            <label>show in the category lists</label>
            <label lang="de-DE">in den Kategorielisten anzeigen</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>topSellerBadgeOnProductPage</name>
            <label>show on the product detail page</label>
            <label lang="de-DE">auf der Produkt-Detailseite anzeigen</label>
            <defaultValue>false</defaultValue>
        </input-field>
    </card>

    <card>
        <title>New badge</title>
        <title lang="de-DE">Neu - Badge</title>

        <input-field type="bool">
            <name>newBadgeInCategory</name>
            <label>show in the category lists</label>
            <label lang="de-DE">in den Kategorielisten anzeigen</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>newBadgeOnProductPage</name>
            <label>show on the product detail page</label>
            <label lang="de-DE">auf der Produkt-Detailseite anzeigen</label>
            <defaultValue>false</defaultValue>
        </input-field>
    </card>

    <card>
        <title>Out of stock badge</title>
        <title lang="de-DE">Ausverkauft - Badge</title>

        <input-field type="bool">
            <name>outOfStockBadgeInCategory</name>
            <label>show in the category lists</label>
            <label lang="de-DE">in den Kategorielisten anzeigen</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>outOfStockBadgeOnProductPage</name>
            <label>show on the product detail page</label>
            <label lang="de-DE">auf der Produkt-Detailseite anzeigen</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>outOfStockBadgeColorViaConfig</name>
            <label>set the colors of the badge via configuration</label>
            <label lang="de-DE">Farben des Badges über die Konfiguration festlegen</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <input-field type="colorpicker">
            <name>outOfStockBadgeBackgroundColor</name>
            <label>background color of the badge</label>
            <label lang="de-DE">Hintergrundfarbe des Badges</label>
            <defaultValue>#008490</defaultValue>
            <placeholder>#008490</placeholder>
        </input-field>

        <input-field type="colorpicker">
            <name>outOfStockFontColor</name>
            <label>font color of the badge</label>
            <label lang="de-DE">Schriftfarbe des Badges</label>
            <defaultValue>#ffffff</defaultValue>
            <placeholder>#ffffff</placeholder>
        </input-field>
    </card>

    <card>
        <title>Custom badge</title>
        <title lang="de-DE">Eigenes Badge</title>

        <input-field type="bool">
            <name>customBadgeInCategory</name>
            <label>show in the category lists</label>
            <label lang="de-DE">in den Kategorielisten anzeigen</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>customBadgeOnProductPage</name>
            <label>show on the product detail page</label>
            <label lang="de-DE">auf der Produkt-Detailseite anzeigen</label>
            <defaultValue>true</defaultValue>
        </input-field>

        <input-field type="bool">
            <name>customBadgeColorViaConfig</name>
            <label>set the colors of the badge via configuration</label>
            <label lang="de-DE">Farben des Badges über die Konfiguration festlegen</label>
            <defaultValue>false</defaultValue>
        </input-field>

        <input-field type="colorpicker">
            <name>customBadgeBackgroundColor</name>
            <label>background color of the badge</label>
            <label lang="de-DE">Hintergrundfarbe des Badges</label>
            <defaultValue>#008490</defaultValue>
            <placeholder>#008490</placeholder>
        </input-field>

        <input-field type="colorpicker">
            <name>customBadgeFontColor</name>
            <label>font color of the badge</label>
            <label lang="de-DE">Schriftfarbe des Badges</label>
            <defaultValue>#ffffff</defaultValue>
            <placeholder>#ffffff</placeholder>
        </input-field>
    </card>
</config>
